---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import webDevImg from "../../assets/pics/card-pic1.png";
import brandingImg from "../../assets/pics/card-pic2.png";

const cards = [
  {
    index: 1,
    titleTop: "Desarrollo de",
    titleBottom: "Páginas Web",
    img: webDevImg,
    alt: "Desarrollo de Páginas Web",
    link: "https://example.com/web-development",
  },
  {
    index: 2,
    titleTop: "Branding y",
    titleBottom: "Identidad",
    img: brandingImg,
    alt: "Branding y Identidad",
    link: "https://example.com/branding",
  }
];

const description =
  "En CodeLab, ofrecemos servicios especializados para ayudarte a destacar en el mundo digital. Nuestros servicios incluyen:";
---

<Section>
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Servicios" description={description} />
    <div class="grid lg:grid-cols-2 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
