---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Conozca al equipo capacitado y experimentado";

import {
  default as p1,
  default as p2,
  default as p3,
  default as p4,
  default as p5,
  default as p6,
} from "../../assets/pics/profile-pic.png";

const team = [
  {
    pic: p1,
    name: "Matias Cattaneo",
    role: "Programador",
    description:
      "Más de 3 años de experiencia como programador. Hábil en la gestión de proyectos y análisis de rendimiento.",
    link: "https://linkedin.com",
  },
  {
    pic: p2,
    name: "Agustin Cattaneo",
    role: "CEO",
    description:
      "3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis",
    link: "https://linkedin.com",
  },
  {
    pic: p3,
    name: "Matias Via",
    role: "Programador",
    description:
      "3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis",
    link: "https://linkedin.com",
  },
  {
    pic: p4,
    name: "Joaquin Altuna",
    role: "CEO",
    description:
      "3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis",
    link: "https://linkedin.com",
  }
];
---

<Section id="about">
  <div class="mt-[140px] mb-[140px]"> <!-- Aquí se agregó la clase mb-[140px] para el margen inferior -->
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
  </div>
</Section>
